
@font-face {
font-display: block;
font-family: "Neue Haas Grotesk";
src: url("https://type.cargo.site/files/NeueHaasGroteskText-Regular.woff") format("woff");
font-style: normal;
font-weight: normal;
unicode-range: U+0000-DFFF, U+F900-FFFD;
}

@font-face {
font-display: block;
font-family: "Neue Haas Grotesk";
src: url("https://type.cargo.site/files/NeueHaasGroteskText-Medium.woff") format("woff");
font-style: normal;
font-weight: 500;
unicode-range: U+0000-DFFF, U+F900-FFFD;
}

@font-face {
font-display: block;
font-family: "Neue Haas Grotesk";
src: url("https://type.cargo.site/files/NeueHaasGroteskText-Bold.woff") format("woff");
font-style: normal;
font-weight: bold;
unicode-range: U+0000-DFFF, U+F900-FFFD;
}

@font-face {
font-display: block;
font-family: "Freight Text";
src: url("https://type.cargo.site/files/FreightText-Book.woff") format("woff");
font-style: normal;
font-weight: normal;
unicode-range: U+0000-DFFF, U+F900-FFFD;
}

@font-face {
font-display: block;
font-family: "Freight Text";
src: url("https://type.cargo.site/files/FreightText-Bold.woff") format("woff");
font-style: normal;
font-weight: bold;
unicode-range: U+0000-DFFF, U+F900-FFFD;
}


body {
    font-family: "Neue Haas Grotesk";   
    padding-left: 2%;
}

#intro {
    width: 24%; 
    float: right;
    z-index: 2000;
    margin-top: 10%;
    background-color: #fff;
    padding: 1em;
    box-shadow: -8px 11px 10px 4px rgba(153, 153, 153, 1);

}

select, label {
  font-size: 1.2em;
}

#mirror-intro {
    width: 40em;
    margin-left: 5em; 
    /* margin-top: 1%; */
}

#container {
    float: left;
    width: 70%;
}

#info {
    /* margin-top: 10%; */
}

footer {
    clear: both;
}

#intro-swap {
  height: 120px;
}

/* Toggle */
  .checkbox-wrapper-3 input[type="checkbox"] {
    visibility: hidden;
    display: none;
  }

  .checkbox-wrapper-3 .toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-3 .toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: #9A9999;
    border-radius: 8px;
    transition: background 0.2s ease;
  }
  .checkbox-wrapper-3 .toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
    transition: all 0.2s ease;
  }
  .checkbox-wrapper-3 .toggle span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: rgba(79, 46, 220, 0.5);
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
  }

  .checkbox-wrapper-3 #cbx-3:checked + .toggle:before {
    background: #947ADA;
  }
  .checkbox-wrapper-3 #cbx-3:checked + .toggle span {
    background: #aa4ead;
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
  }
  .checkbox-wrapper-3 #cbx-3:checked + .toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all 0.4s ease;
  }

/* Radio buttons */

  .radio-toolbar-3 {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
    height: 40px;
    width: 100%;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 2em;
  }
  
  .radio-toolbar-3 label {
    width: 100%;
    display: inline-block;
    background-color: #FFFFFF;
    margin-left: -30px;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
  }
  
  .radio-toolbar-3 label:hover {
    background-color: #B4B4B4;
  }
  
  .radio-toolbar-3 input[type="radio"]:checked+label {
    background-color: #aa4ead;
    
    color: white;
  }
  
  input[type="radio"] {
    visibility: hidden;
  }