body {
  font-family: 'Roboto Mono';
  font-size: 16px;
  padding: 1em;
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 3em;
  margin: 0.25em 0;
}

h2 {
  font-size: 2em;
  margin: 0.25em 0;
}

h3 {
  color: rgb(242, 174, 66);
}

p {
  font-size: 1em;
 
}

#beeker {
  width: 30%;
  margin: auto;
  display: block;
}