body {
  font-family: 'Roboto Mono';
  font-size: 16px;
  padding: 1em;
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  /* font-family: serif; */
  font-size: 1em;
}

#beeker {
  margin-top; 3em;
  display: block;
}

section {
  padding: 2em 0;
}

/* CSS from https://getcssscan.com/css-buttons-examples */
button {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  /* font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif; */
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  /* width: 100%; */
  height: 3em;
  margin: 2em 0; */

}

.count-container {
  font-size: 4em;
}